/*========================
=======Variables==========
==========================*/
$colorBlack: #000;
$colorGray: #333333;
$colorMagenta: #c30e60;
$colorOrange: #e1700e;
$colorWhite: #fff;
$colorGreen: #b8e986;

.class-selector {
  color: $colorBlack;
  background-color: $colorGreen;
}


/*=====================================
=======Font Size & Line Hight=========
=======================================*/
.menu li a {
  font-family: 'Open Sans', sans-serif;
  @include fontSize(20); // Font size in px
  @include lineHeight(22,20); // First argument is line Hight, second is font size
}


/*=====================================
=======SVG Sprite======================
=======================================*/
.menu li a {
  &::after {
    @include svg-sprite($logo-svg); // logo is name of the .svg file in assets/images/svg. Must have -svg behinde file name
  }
}


/*=====================================
=======Media Query=====================
=======================================*/
//classic media query (min)
@include media-breakpoint-up(xs) {  }
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }

//classic media query (max)
@include media-breakpoint-down(xs) {  }
@include media-breakpoint-down(sm) {  }
@include media-breakpoint-down(md) {  }
@include media-breakpoint-down(lg) {  }

//from to media query
@include media-breakpoint-only(xs) {  }
@include media-breakpoint-only(sm) {  }
@include media-breakpoint-only(md) {  }
@include media-breakpoint-only(lg) {  }
@include media-breakpoint-only(xl) {  }

// Custom
@media (max-width: 1166px) {  }
@media (min-width: 1165px) {  }


.menu li a {
  font-family: 'Open Sans', sans-serif;
  @include fontSize(20);

  @include media-breakpoint-up(xs) {
    @include fontSize(10);
    @include lineHeight(12,10);
  }
}