

$konzum-logo-svg: (
    name: konzum-logo,
    x: 0em,
    y: 0em,
    offset-x: 0em,
    offset-y: 0em,
    width: 24em,
    height: 5em,
    //total-width: 502px,
    //total-height: 446px,
    svg: '../../../assets/styles/scss/svg/svg-sprite.svg'
);


$search-svg: (
    name: search,
    x: 0em,
    y: -5em,
    offset-x: 0em,
    offset-y: -5em,
    width: 51.2em,
    height: 51.2em,
    //total-width: 502px,
    //total-height: 446px,
    svg: '../../../assets/styles/scss/svg/svg-sprite.svg'
);


$search-nav-ico-svg: (
    name: search-nav-ico,
    x: 0em,
    y: -56.2em,
    offset-x: 0em,
    offset-y: -56.2em,
    width: 2.5em,
    height: 2.5em,
    //total-width: 502px,
    //total-height: 446px,
    svg: '../../../assets/styles/scss/svg/svg-sprite.svg'
);





@mixin svg-sprite-width($svgsprite) {
  width: map-get($svgsprite, 'width');
}

@mixin svg-sprite-height($svgsprite) {
  height: map-get($svgsprite, 'height');
}

@mixin svg-sprite-position($svgsprite) {
  background-position: map-get($svgsprite, 'offset-x') map-get($svgsprite, 'offset-y');
}

@mixin svg-sprite-image($svgsprite) {
  background-image: url(map-get($svgsprite, 'svg'));
}

@mixin svg-sprite($svgsprite) {
  font-size: 10px;
  @include svg-sprite-image($svgsprite);
  @include svg-sprite-position($svgsprite);
  @include svg-sprite-width($svgsprite);
  @include svg-sprite-height($svgsprite);
}






/*
// .icon {
//     font-size: 10px;
//     &:before {
//       content:' ';
//       vertical-align:middle;
//       display: inline-block;
//       background-image: url("../scss/svg/svg-sprite.svg");
//       background-repeat: no-repeat;
//       background-size: 51.2em 58.7em;

//       .no-svg & {
//         background-image: url("../svg-sprite.png");
//       }
//     }
// }


// 

// .icon.konzum-logo {
//   &:before {
//       background-position: 0em 0em;
//       width: 24em;
//       height: 5em;
//     }
//   }

//   @mixin icon-konzum-logo(){
//     @extend .konzum-logo;
//   }
// 

// .icon.search {
//   &:before {
//       background-position: 0em -5em;
//       width: 51.2em;
//       height: 51.2em;
//     }
//   }

//   @mixin icon-search(){
//     @extend .search;
//   }
// 

// .icon.search-nav-ico {
//   &:before {
//       background-position: 0em -56.2em;
//       width: 2.5em;
//       height: 2.5em;
//     }
//   }

//   @mixin icon-search-nav-ico(){
//     @extend .search-nav-ico;
//   }
// 
*/