<% _.forEach(svg, function(svgItem) { %>

$<%=svgItem.name%>-svg: (
    name: <%=svgItem.name%>,
    x: <%= svgItem.relPositionX %>em,
    y: <%= svgItem.relPositionY %>em,
    offset-x: <%= svgItem.relPositionX %>em,
    offset-y: <%= svgItem.relPositionY %>em,
    width: <%= svgItem.relWidth %>em,
    height: <%= svgItem.relHeight %>em,
    //total-width: 502px,
    //total-height: 446px,
    svg: '../../../assets/styles/scss/svg/svg-sprite.svg'
);
<% }); %>




@mixin svg-sprite-width($svgsprite) {
  width: map-get($svgsprite, 'width');
}

@mixin svg-sprite-height($svgsprite) {
  height: map-get($svgsprite, 'height');
}

@mixin svg-sprite-position($svgsprite) {
  background-position: map-get($svgsprite, 'offset-x') map-get($svgsprite, 'offset-y');
}

@mixin svg-sprite-image($svgsprite) {
  background-image: url(map-get($svgsprite, 'svg'));
}

@mixin svg-sprite($svgsprite) {
  font-size: 10px;
  @include svg-sprite-image($svgsprite);
  @include svg-sprite-position($svgsprite);
  @include svg-sprite-width($svgsprite);
  @include svg-sprite-height($svgsprite);
}






/*
// .<%=common %> {
//     font-size: <%= baseSize %>px;
//     &:before {
//       content:' ';
//       vertical-align:middle;
//       display: inline-block;
//       background-image: url("<%=svgPath%>");
//       background-repeat: no-repeat;
//       background-size: <%= relWidth %>em <%= relHeight %>em;

//       .no-svg & {
//         background-image: url("<%=pngPath%>");
//       }
//     }
// }


// <% _.forEach(svg, function(svgItem) { %>

// .<%=common %>.<%=svgItem.name%> {
//   &:before {
//       background-position: <%= svgItem.relPositionX %>em <%= svgItem.relPositionY %>em;
//       width: <%= svgItem.relWidth %>em;
//       height: <%= svgItem.relHeight %>em;
//     }
//   }

//   @mixin <%=common %>-<%=svgItem.name%>(){
//     @extend .<%=svgItem.name%>;
//   }
// <% }); %>
*/