

div.modalPop {
    padding-left: 20px;
    padding-right: 20px;
}

section#modalAlgebra {
    padding: 66px 0px 70px 0px;
    background: #f6f6f6;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18);
    margin: 5vh 0;
    height: 90vh;
    width: 100%;
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal_content { width: 100vw; }
	.slick-track{ padding: 5px 0; }
	.title{
		position: absolute;
		right: 0;
		top: 0;
		width: 60px;
		height: 60px;
		cursor: pointer;
		background: linear-gradient(225deg, #c40f61, #e27210);
		&:after {
            content: ""; display: block;
            @include svg-sprite($modal-close-svg);
            position: absolute; left: 50%; top: 50%;
            transform: translate(-50%,-50%);
        }
		&:hover{
			background: linear-gradient(225deg, #c40f61, #e27210);
		}
	}
    h2 {
        @include fontFace($stolzlBold);
        @include fontSize(30);
        @include lineHeight(40, 30);
        color: #1d1d1d;
        position: relative;
        margin-bottom: 60px;
        margin-top: 30px;
        &:before {
            content: '';
            position: absolute;
            background: #4a4a4a;
            bottom: -30px;
            width: 40px;
            height: 2px;
        }
    }
    p {
        @include fontFace($stolzlBook);
        @include fontSize(16);
        @include lineHeight(25, 16);
        margin-bottom: 40px;
        strong {
            @include fontFace($stolzlBold);
        }
    }
    h3 {
        color: #484848;
        text-transform: uppercase;
        @include fontFace($stolzlRegular);
        @include fontSize(14);
        letter-spacing: 1px;
        position: absolute;
        top: -40px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            color: $colorMagenta;
            @include fontFace($stolzlRegular);
            @include fontSize(16);
            @include lineHeight(25, 16);
            list-style: none;
            margin-bottom: 20px;
            position: relative;
            @media (max-width: 980px){
		    	padding-left: 25px;
		    }
            &.online {
                &:before {
                    position: absolute;
                    content: '';
                    background: $colorGreen;
                    width: 10px;
                    height: 10px;
                    left: -25px;
                    top: 8px;
                    border-radius: 50%;
                    @media (max-width: 980px){
				    	left: 0;
				    }
                }
                @media(min-width: 768px){
                    &:after{
                        position: absolute;
                        content: 'Dostupno online';
                        @include fontFace($stolzlRegular);
                        @include fontSize(12);
                        @include lineHeight(20,12);
                        white-space: nowrap;
                        text-align: center;
                        color: #000;
                        background: $colorGreen;
                        width: 0;
                        height: 0;
                        right: 100%;
                        top: 11px;
                        padding: 0;
                        margin-right: 19px; 
                        overflow: hidden;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
            @media(min-width: 768px){
                &.online:hover:after {
                    width: 122px;
                    height: 20px;
                }
            }
        }
    }

    .btn-op {
        box-shadow: 0 10px 30px 0 rgba(195, 14, 96, 0.4);
        // width: 200px;
        width: 160px;
        margin-right: 10px;
    }

    .moreAbout{
	    border-radius: 3px;
	    border-style: solid;
	    border-width: 2px;
	    border-image-source: -webkit-linear-gradient(341deg, #c40f61, #e27210);
	    border-image-source: -o-linear-gradient(341deg, #c40f61, #e27210);
	    border-image-source: linear-gradient(71deg, #c40f61, #e27210);
	    border-image-slice: 1;
	    background-color: #fff;
	    cursor: pointer;
	    color: #000;
	    padding: 13px 20px;
	    @media (max-width: 980px){
	    	margin-bottom: 100px;
	    	display: inline-block;
	    }
    }
    .new_slider {
        // position: relative;
    }

    button.prev-arrow,
    button.next-arrow {
        @include fontFace($stolzlMedium);
        @include fontSize(14);
        @include lineHeight(20, 14);
        width: 165px;
        border: none;
        color: #9c9c9c;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: #000;
        }
    }

    button.prev-arrow {
        text-align: left;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        // padding: 30px 26px 29px 59px;
        padding: 0px 26px 0px 59px;
        //word-wrap: break-word;
        min-height: 135px;
        &:after {
            content: '';
            position: absolute;
            left: 20px;
            transform: translateY(-50%);
            top: 50%;
            @include svg-sprite($chev-left-svg);
        }
        &:hover {
            &:after {
                @include svg-sprite($chev-left-hover-svg);
            }
        }
    }
    button.next-arrow {
        text-align: right;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        // padding: 30px 59px 29px 26px;
        padding: 0px 59px 0px 26px;
        //word-wrap: break-word;
        min-height: 135px;
        &:after {
            content: '';
            position: absolute;
            right: 20px;
            transform: translateY(-50%);
            top: 50%;
            @include svg-sprite($chev-right-svg);
        }
        &:hover {
            &:after {
                @include svg-sprite($chev-right-hover-svg);
            }
        }
    }
}

div.modalSpinner {
    section#modalSpinner {
        text-align: center;
        margin: 0 auto;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
        div.spinner {
            background: url('../../../assets/images/ellipsis.svg') no-repeat right;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            text-align: center;
        }
    }
}

div.spinner {
    background: url('../../../assets/images/ellipsis.svg') no-repeat right;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

.modalPop{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(123, 128, 129,.95);
    z-index:999999;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    &.open{
        height:100%;//skripta za izračunavanje visine ekrana
    }
}

.modalSpinner{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(123, 128, 129,.95);
    z-index:999999;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    &.open{
        height:100%;//skripta za izračunavanje visine ekrana
    }
}
